* {
	margin: 0;
	padding: 0;
}

*:focus {
    outline: none !important;
}

@font-face {
    font-family: 'Didact Gothic';
    src: local(DidactGothic), url('/font/DidactGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.content {
	padding: 10px 40px 40px 40px;
	margin: 5% auto;
	font-family: 'Didact Gothic';
	width: 700px;
}

#userBirthDate {
	width: 70px;
	display: inline-block;
}

#userBirthMounth {
	width: 110px;
	display: inline-block;
}

#userBirthYear {
	width: 90px;
	display: inline-block;
}

.alert {
	margin-bottom: 0;
}

#home, #block, #place {
	width: 100px;
	display: inline-block;
	margin-right: 15px;
}

#place {
	width: 125px;
}

.line * {
	display: inline-block;
}

.line > label {
	margin-right: 15px;
}

#place {
	margin-right: 0;
}

span {
	color: red;
}

li {
	list-style-type: none;
	padding-left: 10px;
	cursor: pointer;
}

li:hover {
	color: deepskyblue;
}